# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Env
.env
.env.local

# Storage local de XMLs (nunca subir XMLs fiscais no git)
storage/

# Alembic
alembic/versions/__pycache__/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Chaves/CSR sensíveis
privada.key
request.csr
*.key
*.csr
